{% extends 'base.html.twig' %}

{% block title %}Mes compétence{% endblock %}

{% block body %}
<style>
    .centre{
  text-align: center;
    }
</style>
    <div class="centre">
        <h1>différentes compétence </h1>
        <h2>je sais faire ça ça ça </h2>
    </div>
{% endblock %}