{% extends 'base.html.twig' %}

{% block title %}Mes compétence{% endblock %}
{% block body %}
<style>
  .titre {
  position: absolute;
  top: 10%;
  left: 40%;
  }
      .center {
  position: absolute;
  top: 60%;
  left: 28%;
}

.gauche {
  position: absolute;
  top: 20%;
  left: 3%;
}
.droite {
  position: absolute;
  top: 20%;
  left: 63%;
}
</style>
    <div class="titre">
      <h2>Mes Compétences </h2>
    </div>
    <div class="gauche">
        <h4>RT1 - Administrer</h4>
    </div>
    <div class="center">
        <h4>RT3 - Programmer</h4>
        <p>Pour la compétence proga
         
    </div>
    <div class="droite">
        <h4>RT2 - Connecter </h4>
        <p> Grâce aux ressources R1.02/R1.03/R1.08 .La R1.02 m'a appris la gestion d'adresse IP les connexions entre PC 
    </div>
{% endblock %}