{% extends 'base.html.twig' %}

{% block title %}Mes compétence{% endblock %}
{% block body %}
<style>
  .titre {
  position: absolute;
  top: 10%;
  left: 40%;
  }
      .center {
  position: absolute;
  top: 60%;
  left: 28%;
}

.gauche {
  position: absolute;
  top: 20%;
  left: 3%;
}
.droite {
  position: absolute;
  top: 20%;
  left: 63%;
}
</style>
    <div class="titre">
      <h2>Mes Compétences </h2>
    </div>
    <div class="gauche">
        <h4>RT1 - Administrer les réseaux et l’Internet</h4>
    </div>
    <div class="center">
        <h4>RT3 - Créer des outils et des applications informatiques pour les RT</h4>
         
    </div>
    <div class="droite">
        <h4>RT2 - Connecter les entreprises et les usagers</h4>
    </div>
{% endblock %}