{% extends 'base.html.twig' %}

{% block title %}Mes compétence{% endblock %}

{% block body %}
    <h1>différentes compétence </h1>
    <h2>je sais faire ça ça ça </h2>
    
    <button onclick="window.location.href ='http://127.0.0.1:8000/blog';">retour</button>
{% endblock %}