{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <h1>Je suis LAURET Alexandre</h1>
    <p> Vous trouverez ci-dessous mon cv</p>
    <ul>
        <a href="{{ asset('files/étudiant.pdf') }}" target="_blank" rel="noopener">Voir mon CV (PDF)</a>
        <p></p>
        <a href="{{ asset('files/étudiant.pdf') }}" download>Télécharger mon CV (PDF)</a>
    </ul>
</div>
<button onclick="window.location.href ='http://127.0.0.1:8000/blog';">retour</button>
{% endblock %}
