{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <style>
  .btn {
    display: inline-block;
    padding: 20px 40px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 80px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  .centre {
  text-align: center;
}
  .center {
  position: absolute;
  top: 8%;
  left: 25%;
}

  .savoir{
    position: absolute;
  top: 65%;
  left: 43%;
  }


.gauche {
  position: absolute;
  top: 40%;
  left: 20%;
}
.droite {
  position: absolute;
  top: 40%;
  left: 68%;
}


  .btn:hover {
    background-color: #079589ff;
  }
</style>
  <div class="center" >
    <div class="centre">
    <h1 style="font-size: 75px;">Bienvenue sur mon site !</h1>
    <h2 style="font-size: 25px;">Par où voulez vous commencer :</h2>
        <a href="http://127.0.0.1:8000/blog/home" class="btn" >Ma presentation</a>
        <p>Une courte présentation de moi. </p>
    </div>
  </div>
  <div class="gauche">
      <a href="http://127.0.0.1:8000/blog/cv" class="btn" >Acceder au CV</a>
      <div class="centre">
        <p> -Accès à mon CV </p>
        <p> -Téléchargement de mon CV </p>
      </div>
  </div>
  <div class="droite">
      <a href="http://127.0.0.1:8000/blog/competence" class="btn" >Mes Compétences</a>
        <p class="centre"> -Ce que je sais et appris a faire grâce au <br> BUT Réseaux et Télécommunication.</p> 
  </div>
    <div class="savoir" >
        <a href="http://127.0.0.1:8000/blog/plus" class="btn" >En savoir plus sur moi </a>
        <p> Découvrir mes passions et mes passe-temps.</p>
      </div>
    </div>   
{% endblock %}
