{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    <p>Bienvenue sur mon site !</p>
    {% if age > 18 %}
        <p>
            tu es majeur
        </p>
    {% else %}
        <p>
            tu es mineure
        </p>
    {% endif %}
    <button onclick="window.location.href ='http://127.0.0.1:8000/blog';">retour</button>
{% endblock %}