{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <style>
  .btn {
    display: inline-block;
    padding: 20px 40px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 80px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  .centre {
  text-align: center;
}
  .center {
  position: absolute;
  top: 56%;
  left: 42%;
}

.gauche {
  position: absolute;
  top: 40%;
  left: 20%;
}
.droite {
  position: absolute;
  top: 40%;
  left: 70%;
}
  .test {
  position: absolute;
  top: 20px;
  left: 20px;
}


  .btn:hover {
    background-color: #079589ff;
  }
</style>

    <h1 class="centre" style="font-size: 75px;">Bienvenue sur mon site !</h1>
    <h2 class="centre" style="font-size: 25px;">Par où voulez vous commencer : </h2>
    <div class="centre" >
        <a href="http://127.0.0.1:8000/blog/home" class="btn" >Ma presentation</a>
        <p>Courte présentation de moi </p>

    </div>
    <div class="gauche">
        <a href="http://127.0.0.1:8000/blog/cv" class="btn" >Acceder au CV</a>
        <p class="centre"> -Accès à mon cv </p>
        <p class="centre"> -Téléchargement de mon cv </p>
    </div>
    <div class="droite">
        <a href="http://127.0.0.1:8000/blog/competence" class="btn" >Mes Compétences</a>
          <p class="centre"> -Ce que je sais et appris a faire grâce <br>au BUT Réseaux et Télécommunication.</p> 
    </div>
    <div class="centre" >
      <div style="font-size: 175px;">
        <a href="http://127.0.0.1:8000/blog/plus" class="btn" >En savoir plus sur moi </a>
      </div>
    </div>
    <div class="center" >
      <p> Découvrir mes passions et mes passe-temps</p>
    <div class="centre" style="font-size: 200px;">
        <a href="http://127.0.0.1:8000/blog/test" class="btn" >test</a>
    </div>    
{% endblock %}
