{% extends 'base.html.twig' %}

{% block title %}Moi {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .test {
  position: absolute;
  top: 10%;
  left: 20%;
}
</style>

<div class="test">
    <div class="example-wrapper">
        <h1>Welcome</h1>
        <ul>
            Hello, I am Alexandre LAURET. You will find the different sections of my website above in the navigation bar.    
        </ul>
        <h2> Presentation</h2>
        <ul> 
            I am a student at Jean Monnet University at the Roanne University Institute of Technology (IUT) with the aim of obtaining a Bachelor of Technology (BUT) in Networks and Telecommunications, and I am in group A2.
        </ul> 
    </div>
</div>


{% endblock %}
