{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h1>test</h1>
    <h2>jaime ça ça ça </h2>
    
    <button onclick="window.location.href ='http://127.0.0.1:8000/blog';">retour</button>
{% endblock %}