{% extends 'base.html.twig' %}

{% block title %}En savoir plus{% endblock %}

{% block body %}
<style>
    .position {
  position: absolute;
  top: 10%;
  left: 20%;
}
</style>
    <div class="position">
        <h1>Je suis LAURET Alexandre</h1>
        <h1>Me contacter :</h1>
        <h8>adresse MAIL: alexandre.lauret@etu.univ-st-etienne.fr</h2>    
    </div>
{% endblock %}