{% extends 'base.html.twig' %}

{% block title %}En savoir plus{% endblock %}

{% block body %}
    <h1>Je suis LAURET Alexandre</h1>
    <h1>Me contacter :</h1>
    <h2>adresse MAIL: alexandre.lauret@etu.univ-st-etinne.fr</h2>    
    <button onclick="window.location.href ='http://127.0.0.1:8000/blog';">retour</button>
{% endblock %}