{% extends 'base.html.twig' %}

{% block title %}En savoir plus{% endblock %}

{% block body %}
<style>
    .centre{
  text-align: center;
    }
</style>
    <div class="centre">
        <h1>Je suis LAURET Alexandre</h1>
        <h1>Me contacter :</h1>
        <h2>adresse MAIL: alexandre.lauret@etu.univ-st-etienne.fr</h2>    
    </div>
{% endblock %}