{% extends 'base.html.twig' %}

{% block title %}En savoir plus{% endblock %}

{% block body %}
<style>
  .section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
  }

  .colonne {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px;
}

  .image {
    max-width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 217, 255, 0.3);
  }

  p {
    font-size: 1.2rem;
  }

  @media (max-width: 768px) {
    .section {
      flex-direction: column;
    }
  }
</style>

<div class="section">
  <div class="colonne">
    <h2>Projet</h2>
    <p>
      Au cours de la 2eme année de mon BUT Réseaux et Télécommunications<br>
      je souhaite intégrer le cinema le Grand Palais de Roanne<br>
      en tant qu'alternant plus précisément technicien réseau.
    </p>
    <img src="{{ asset('files/cinema-roanne.jpg') }}" class="image">
    
  </div>

  <div class="colonne">
    <img src="{{ asset('files/jeux-video.jpg') }}" class="image">
    <h2>Loisirs</h2>
    <p>
      Je joue régulièrement aux jeux vidéos certains me permettent d'apprendre beaucoup de choses,
      d'autres me motivent, ils me permettent aussi de me vider la tête en jouant avec des amis.
    </p>
  </div>
</div>

<p>Me contacter :<br>
Adresse mail : alexandre.lauret@etu.univ-st-etienne.fr</p>
{% endblock %}
